body {
    background: #eee;
    color: #444444;
    font-family: Trebuchet MS,Geneva,sans-serif;
    font-size: 13px;
    margin: 20px;
    padding: 20px;
}
a {
    color: #aaa;
}
a:hover {
    color: #000000;
}
a:focus {
    outline: medium none;
}
h1 {
    color: #aaa;
    font-size: 40px;
    font-weight: normal;
}

.left {
	float: left;
}

.right {
	float: right;
}

#container {
	width: 640px;
}

#splode_game{
  background: #fff;
  border: 4px dotted #aaa;
  padding: 20px;
  margin-top: 20px;
}